@import "bootstrap-sprockets";
@import "bootstrap";

.box {
  margin: 10% 10% 5% 10%;
  padding: 20px;
  border-radius: 20px;
  border: solid turquoise 3px;
  background-color: honeydew;
}

h1 {
  text-align: center;
}

.heading{
  text-align: center;
}

body {
  background-color: lightgrey
}
 
p {
  text-align: center;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid gray 3px;
}