<div class="box">
  <div class="row">
    <h1>Mario's Specialty Food Products</h1>
      <h3 class="heading">Amazing products from around the globe.</h3>
      <p>Carry ramps you probably haven't heard of them pop-up distillery messenger bag ennui. Pour-over wolf meh. Asymmetrical venmo cold-pressed chicharrones cardigan vice street craft beer. Hashtag pitchfork tumblr street. Lomo retro readymade blog humble.</p>
      <p><%= link_to "Product Catalog", products_path %></p>
        <%= image_tag "zero_waste_store.jpg" %>
        <div class="col-md-2">
        </div>
          <div class="col-md-4">
          <h4>Most Reviewed Products</h4>
          <% if @top_rated.any?%>
          <ul>
          <% @top_rated.each do |product| %>
            <li><%= link_to product.name, product_path(product) %> </li>
          <% end %>
          </ul>
        <% else %>
          <p> There are currently no products to be displayed. </p>
          <% end %>
          </div>
        <div class="col-md-4">
        <h4> Newest Products</h4>
        <% if @recent_three.any?%>
          <ul>
          <% @recent_three.each do |product| %>
            <li><%= link_to product.name, product_path(product) %> </li>
          <% end %>
          </ul>
        <% else %>
          <p> There are currently no products to be displayed. </p>
          <% end %>
      </div>
      <div class="col-md-2">
    </div>
  </div>
</div>